// Main Sass File
// Your variable overrides


// test1
// $gray-dark:    #333333 !default;
// $gray-light:    #eeeeee !default;

// $body-bg:    $gray-dark !default;
// $body-color: $gray-light !default;

// test2
// $primaryColor:rgba(45, 2, 45, 0.33);
// $textColor: #FFFFFF;

// body {
//   background: $primaryColor;
//   color: $textColor;
// }

$body-bg: #fff;
// $body-bg: rgba(0, 0, 0, 0.3);
$body-color: #fff;
$body-bg-image: url('../img/bg-main.jpg') no-repeat top center;
$primary:#ff0000;
$secondary:rgba(45, 2, 45, 0.33);

body {
  background: $body-bg-image;
  padding-top: 80px;
}
#footer {
    height: 1024px;
    background: url('../img/footer-both.svg') no-repeat bottom center;
    background-size: contain;
}

section {
    padding: 150px 0;
    // outline: red solid 1px;
}

section#hero{padding: 150px 0 160px 0;}

:target:before {
    content:"";
    display:block;
    height:90px; /* fixed header height*/
    margin:-90px 0 0; /* negative fixed header height */
    }

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";


$divcolor: #000;

// col-lg-1 {
//   color: $divcolor;
// }

div.lighter-12 {background: lighten($divcolor, 8.33%);}
div.lighter-11 {background: lighten($divcolor, 16.66%);}
div.lighter-10 {background: lighten($divcolor, 24.99%);}
div.lighter-9 {background: lighten($divcolor, 33.32%);}
div.lighter-8 {background: lighten($divcolor, 41.65%);}
div.lighter-7 {background: lighten($divcolor, 49.98%);}
div.lighter-6 {background: lighten($divcolor, 58.31%);}
div.lighter-5 {background: lighten($divcolor, 66.64%);}
div.lighter-4 {background: lighten($divcolor, 74.97%);}
div.lighter-3 {background: lighten($divcolor, 83.33%);}
div.lighter-2 {background: lighten($divcolor, 91.63%);}
div.lighter-1 {background: lighten($divcolor, 100%);}

.navbar-inner {
    background: rgba(255, 255, 255, 0.8) !important;
    // background:transparent !important;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    //background-image: url("../img/asphalt-automobile-can-117146.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {font-size: 6em;text-transform: uppercase;}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}


// TESTING
// section {padding: 150px 0; outline: red solid 1px;}